.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
.featureImage {
  width: 200px; /* Adjust this width as needed */
  height: auto; /* Maintain aspect ratio */
}